#conteudo {
    width: 710px;
    float: left;
    background: green;    
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

/* Formularios*/

